style {
    background-color: antiquewhite;
}

h1 {
    width: 20px;
}

image {
    width: 200;
}

h3 { 
    font-style: italic;
    color: aliceblue;
    background-color: lightsalmon
}

